<h2>Cadastro de Games</h2>
<hr>
<div class="card">
    <div class="card-body">
        <form action="inserir/add" method="POST">
            <div class="form-group">
                <label for="nomeGame">Nome</label>
                <input type="text" class="form-control" name="nome" id="nomeGame" placeholder="Nome do Jogo">
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="text" class="form-control" name="quantidade" id="quantidadeGame" placeholder="Quantidade em estoque">
            </div>
            <div class="form-group">
                <label for="preco">Valor</label>
                <input type="text" class="form-control" name="preco" id="precoGame" placeholder="Valor do Jogo">
            </div>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </form>
    </div>
</div>